blinker
certifi
charset-normalizer
click
colorama
dnspython
flask
gunicorn
idna
importlib-metadata
itsdangerous
jinja2
MarkupSafe
packaging
pymongo
python-dateutil
python-dotenv
requests
urllib3==2.2.1
werkzeug
zipp
